{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021 о.ж. мониторинг, циклограмма, перспективалық жоспарлары_url' %}">2020-2021 о.ж. мониторинг, циклограмма, перспективалық жоспарлары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021, 2021-2022, 2022-2023 оқу жылының сапалық құрамы мен континенті_url' %}">2020-2021, 2021-2022, 2022-2023 оқу жылының сапалық құрамы мен континенті</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021,2021-2022,2022-2023 о.ж. расписаниялар_url' %}">2020-2021,2021-2022,2022-2023 о.ж. расписаниялар</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 о.ж. мониторинг, циклограмма, перспективалық жоспарлары_url' %}">2021-2022 о.ж. мониторинг, циклограмма, перспективалық жоспарлары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2022-2023 о.ж. мониторинг, циклограмма, перспективалық жоспарлары_url' %}">2022-2023 о.ж. мониторинг, циклограмма, перспективалық жоспарлары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'Біліктілік санатты қорғалған куәлікткр_url' %}">Біліктілік санатты қорғалған куәлікткр</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'педагог қызметкерлердің диплом кошірмесі_url' %}">педагог қызметкерлердің диплом кошірмесі</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'Педагогтердің КУРС сертификаттары_url' %}">Педагогтердің КУРС сертификаттары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'санитарны_url' %}">санитарны</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'Тенге бөбекжай құжаттары_url' %}">Тенге бөбекжай құжаттары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'Теңге бөбекжайдың 2020-2021,2021-2022,2022-2023 оқу жылындағы жылдық жоспары_url' %}">Теңге бөбекжайдың 2020-2021,2021-2022,2022-2023 оқу жылындағы жылдық жоспары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'Тәрбиеленушілердің жас ерекшеліктері бойынша топқа бөлу тізімі. 2020-2021, 2021-2022, 2022-2023 оқу жылдары_url' %}">Тәрбиеленушілердің жас ерекшеліктері бойынша топқа бөлу тізімі. 2020-2021, 2021-2022, 2022-2023 оқу жылдары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'Әдіскердің жиынтық мониторингі. 2020-2021, 2021-2022, 2022-2023 оқу жылдары_url' %}">Әдіскердің жиынтық мониторингі. 2020-2021, 2021-2022, 2022-2023 оқу жылдары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№11 Теңге бөбекжайы топтарының суреті_url' %}">№11 Теңге бөбекжайы топтарының суреті</a>
    </td>
</tr>{% endblock %}