{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№1 Балбөбек тобы_url' %}">№1 Балбөбек тобы</a></td>
</tr>
<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№2 Еркелер тобы_url' %}">№2 Еркелер тобы</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№3 Ботақан тобы_url' %}">№3 Ботақан тобы</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№4 Құлыншақ тобы_url' %}">№4 Құлыншақ тобы</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№5 Балапан тобы_url' %}">№5 Балапан тобы</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№6 Бүлдіршін тобы_url' %}">№6 Бүлдіршін тобы</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№7 Жұлдыздар тобы_url' %}">№7 Жұлдыздар тобы</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№8 Аққу тобы_url' %}">№8 Аққу тобы</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№9 Жасұлан тобы_url' %}">№9 Жасұлан тобы</a></td>
</tr>
<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№10 Балдаурен тобы_url' %}">№10 Балдаурен тобы</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№11 Қызғалдақ тобы_url' %}">№11 Қызғалдақ тобы</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№12 Гүлдер тобы_url' %}">№12 Гүлдер тобы</a>
</td>
{% endblock %}