{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021 МАД тобы информатика вариатив тех карта_url' %}">2020-2021 МАД тобы информатика вариатив тех карта</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021 Музика. МАД топ.  техкарта_url' %}">2020-2021 Музика. МАД топ.  техкарта</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021 Музыка. Ересек топ.   тех карта_url' %}">2020-2021 Музыка. Ересек топ.   тех карта</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021 о ж ересек тобы  информатика вариатив тех карта_url' %}">2020-2021 о ж ересек тобы  информатика вариатив тех карта</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021 о.ж Бейнелеу пән жетекшісі циклограмалары_url' %}">2020-2021 о.ж Бейнелеу пән жетекшісі циклограмалары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021 оқу жылы. Дене шынықтыру  Ересек тобының циклограммасы_url' %}">2020-2021 оқу жылы. Дене шынықтыру  Ересек тобының циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021 оқу жылы. Дене шынықтыру МАД тобының циклограммасы_url' %}">2020-2021 оқу жылы. Дене шынықтыру МАД тобының циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021 у.г   предподователя русского язика Циклограмма_url' %}">2020-2021 у.г   предподователя русского язика Циклограмма</a>
    </td>
</tr>{% endblock %}