{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan="3"><a href="{% url '№1 Балбөбек тобы 2020-2021 ж циклограммалары_url' %}">№1 Балбөбек тобы 2020-2021 ж циклограммалары</a></td>
</tr>



<tr>
    <td colspan="3"><a href="{% url '№2 Еркелер тобы 2020-2021ж циклограммалары_url' %}">№2 Еркелер тобы 2020-2021ж циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№3 Ботақан тобы 2020-2021 ж циклограммалары_url' %}">№3 Ботақан тобы 2020-2021 ж циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№4 Құлыншақ тобы циклограмма_url' %}">№4 Құлыншақ тобы циклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№5 Балапан 2020-2021 ж циклограммалары_url' %}">№5 Балапан 2020-2021 ж циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№6 Бүлдіршін 2020-2021 ж циклограммалары_url' %}">№6 Бүлдіршін 2020-2021 ж циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№8 Аққу 2020-2021 ж циклограмма_url' %}">№8 Аққу 2020-2021 ж циклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№9 Жасұлан 2020-2021 ж циклограмма_url' %}">№9 Жасұлан 2020-2021 ж циклограмма</a></td>
</tr>
<tr>
    <td colspan="3"><a href="{% url '№10 Балдаурен 2020-2021 ж циклограмма_url' %}">№10 Балдаурен 2020-2021 ж циклограмма</a></td>
</tr>
{% endblock %}