{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№1 Ботақан кіші тобының  циклограммасы. 2020-2021 о.ж_url' %}">№1 Ботақан кіші тобының  циклограммасы. 2020-2021 о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№10 Балдәурен ересек тобының циклограммасы. 2020-2021_url' %}">№10 Балдәурен ересек тобының циклограммасы. 2020-2021</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№11 Ертөстік мектепалды даярлық тобының циклограммасы. 2020-2021ж_url' %}">№11 Ертөстік мектепалды даярлық тобының циклограммасы. 2020-2021ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№12 Назерке ересек тобының циклограммасы 20-21 о.ж_url' %}">№12 Назерке ересек тобының циклограммасы 20-21 о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№13 Ақбота ортаңғы тобының циклограммасы 2020-2021 о.ж_url' %}">№13 Ақбота ортаңғы тобының циклограммасы 2020-2021 о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№14 Ақбөбек мектепалды даярлық тобының циклограммасы. 2020-2021о.ж_url' %}">№14 Ақбөбек мектепалды даярлық тобының циклограммасы. 2020-2021о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№2 Балапан кіші тобының циклограммасы. 2020-2021о.ж_url' %}">№2 Балапан кіші тобының циклограммасы. 2020-2021о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№3 Құлыншақ ортаңғы тобының циклограммасы. 2020-2021 о.ж_url' %}">№3 Құлыншақ ортаңғы тобының циклограммасы. 2020-2021 о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№5 Еркетай ортаңғы тобының циклограммасы. 2020-2021_url' %}">№5 Еркетай ортаңғы тобының циклограммасы. 2020-2021</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№6 Еркемай кіші тобының циклограммасы. 2020-2021о.ж_url' %}">№6 Еркемай кіші тобының циклограммасы. 2020-2021о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№7 Айгөлек ортаңғы тобының циклограммасы. 2020-2021ж_url' %}">№7 Айгөлек ортаңғы тобының циклограммасы. 2020-2021ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№8 Балауса ересек тобының циклограммасы. 2020-2021 ж_url' %}">№8 Балауса ересек тобының циклограммасы. 2020-2021 ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№9 Жас дәурен ересек  циклограммасы. 20-21 ж_url' %}">№9 Жас дәурен ересек  циклограммасы. 20-21 ж</a>
    </td>
</tr>{% endblock %}