{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021 о.ж. пән жетекшілердің  циклограммасы_url' %}">2020-2021 о.ж. пән жетекшілердің  циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021 о.ж. пәнжетекшілердің  перспективалық жоспары_url' %}">2020-2021 о.ж. пәнжетекшілердің  перспективалық жоспары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021о.ж. Тәрбиешілердің перспективалық жоспары_url' %}">2020-2021о.ж. Тәрбиешілердің перспективалық жоспары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2020-2021о.ж. Тәрбиешілердің циклограммалары_url' %}">2020-2021о.ж. Тәрбиешілердің циклограммалары</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'Мониторинг 2020-2021 оқу жылы_url' %}">Мониторинг 2020-2021 оқу жылы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'Қортынды даму картасы  2020-2021 о.ж_url' %}">Қортынды даму картасы  2020-2021 о.ж</a>
    </td>
</tr>{% endblock %}