{% extends 'docs.html' %}

{% block links %}

<tr>
    <td colspan="3"><a href="{% url 'Y2020_2021_indicators_1_bal_tob' %}">№1 Балбөбек тобы</a></td>
</tr>
<tr>
    <td colspan="3"><a href="{% url 'Y2020_2021_indicators_2_erk_tob' %}">№2 Еркелер тобы</a></td>
</tr>
<tr>
    <td colspan="3"><a href="{% url 'Y2020_2021_indicators_3_bot_tob' %}">№3 Ботақан тобы</a></td>
</tr>
<tr>
    <td colspan="3"><a href="{% url 'Y2020_2021_indicators_4_qul_tob' %}">№4 Құлыншақ тобы</a></td>
</tr>
<tr>
    <td colspan="3"><a href="{% url 'Y2020_2021_indicators_5_bal_tob' %}">№5 Балапан тобы</a></td>
</tr>
{% endblock %}