{% extends 'docs.html' %}
{% block links %}

<tr>
    <td colspan="3"><a href="{% url '2020-2021 ж жеке даму картасы_url' %}">2020-2021 ж жеке даму картасы</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2020-2021 ж Индикаторлар_url' %}">2020-2021 ж Индикаторлар</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2020-2021 ж перспективалық жоспар_url' %}">2020-2021 ж перспективалық жоспар</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2020-2021 ж пән жетекшілердің тех карта_url' %}">2020-2021 ж пән жетекшілердің тех карта</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2020-2021 ж циклограммалары_url' %}">2020-2021 ж циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2020-2021 пән жетекшісі перспективалық жоспар_url' %}">2020-2021 пән жетекшісі перспективалық жоспар</a></td>
</tr>


{% endblock %}