{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №1 Ботақан кіші топ  циклограммасы_url' %}">2021-2022 оқу жылы №1 Ботақан кіші топ  циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №10 Балдәурен ересек топ циклограммасы_url' %}">2021-2022 оқу жылы №10 Балдәурен ересек топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №11 Ертөстік МАД топ циклограммасы_url' %}">2021-2022 оқу жылы №11 Ертөстік МАД топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №12 Назерке ересек топ циклаграммасы_url' %}">2021-2022 оқу жылы №12 Назерке ересек топ циклаграммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №13 Ақбота ересек топ циклограммасы_url' %}">2021-2022 оқу жылы №13 Ақбота ересек топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №14 Ақбөбек МАД топ циклограммасы_url' %}">2021-2022 оқу жылы №14 Ақбөбек МАД топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №2 Балапан кіші топ циклограммасы_url' %}">2021-2022 оқу жылы №2 Балапан кіші топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №3 Құлыншақ ортаңғы топ циклограммасы_url' %}">2021-2022 оқу жылы №3 Құлыншақ ортаңғы топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №5 Еркетай ортаңғы топ циклограммасы_url' %}">2021-2022 оқу жылы №5 Еркетай ортаңғы топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №6 Еркемай кіші топ циклограммасы_url' %}">2021-2022 оқу жылы №6 Еркемай кіші топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №7 Айгөлек ортаңғы топ циклограммасы_url' %}">2021-2022 оқу жылы №7 Айгөлек ортаңғы топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №8 Балауса ересек топ циклограммасы_url' %}">2021-2022 оқу жылы №8 Балауса ересек топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы №9 Жасдәурен ересек топ циклограммасы_url' %}">2021-2022 оқу жылы №9 Жасдәурен ересек топ циклограммасы</a>
    </td>
</tr>{% endblock %}