{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 Музика ересек топ циклограммасы_url' %}">2021-2022 Музика ересек топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 Музика мад топ  циклограммасы_url' %}">2021-2022 Музика мад топ  циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 о.ж информатика ересек тобы циклограммасы_url' %}">2021-2022 о.ж информатика ересек тобы циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 о.ж информатика мад  тобы циклограммасы_url' %}">2021-2022 о.ж информатика мад  тобы циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 о.ж Хореография циклограммасы_url' %}">2021-2022 о.ж Хореография циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 оқу жылы Дене шыныктыру. МАД, ересек топтар циклограммасы_url' %}">2021-2022 оқу жылы Дене шыныктыру. МАД, ересек топтар циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2021-2022 у.г Циклограмма русского язика_url' %}">2021-2022 у.г Циклограмма русского язика</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'Бейнелеу пәні.  2021-2022 о.жыл Ересек,мад топтар циклограммасы_url' %}">Бейнелеу пәні.  2021-2022 о.жыл Ересек,мад топтар циклограммасы</a>
    </td>
</tr>{% endblock %}