{% extends 'docs.html' %}
{% block links %}

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№ 10 Балдаурен тобы 2021-2022 циклограмма_url' %}">№ 10 Балдаурен тобы 2021-2022 циклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№ 12  Гүлдер тобы циклограмма 2021-2022_url' %}">№ 12  Гүлдер тобы циклограмма 2021-2022</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№ 8 Аққу 2021-2022 циклограмма_url' %}">№ 8 Аққу 2021-2022 циклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№1 Балбөбек тобы циклограмма 2021-2022_url' %}">№1 Балбөбек тобы циклограмма 2021-2022</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№11  Қызғалдақ 2021-2022 ж циклограмма_url' %}">№11  Қызғалдақ 2021-2022 ж циклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№14 Айгөлек 2021-2022 ж циклограмма_url' %}">№14 Айгөлек 2021-2022 ж циклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№2 Еркелер 2021-2022 циклограмма_url' %}">№2 Еркелер 2021-2022 циклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№3 Ботақан  2021-2022 ж Циклограмма_url' %}">№3 Ботақан  2021-2022 ж Циклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№4 Құлыншақ 2021-2022 ж циклограммалары_url' %}">№4 Құлыншақ 2021-2022 ж циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№5 Балапан 2021-2022 жциклограмма_url' %}">№5 Балапан 2021-2022 жциклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№9 Жасұлан 2021-2022 ж циклограмма_url' %}">№9 Жасұлан 2021-2022 ж циклограмма</a></td>
</tr>

{% endblock %}