{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan="3"><a href="{% url '2021-2022 ж Индикаторлар_url' %}">2021-2022 ж Индикаторлар</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2021-2022 ж перспективалық жоспар_url' %}">2021-2022 ж перспективалық жоспар</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2021-2022 ж Пән жетекшілер перспективалық жоспар_url' %}">2021-2022 ж Пән жетекшілер перспективалық жоспар</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2021-2022 ж циклограмма_url' %}">2021-2022 ж циклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2021-2022ж Жеке даму картасы_url' %}">2021-2022ж Жеке даму картасы</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url 'Вариативтік компонент 2021-2022_url' %}">Вариативтік компонент 2021-2022</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url 'Пән жетекшілер тех карта 2021-2022 ж_url' %}">Пән жетекшілер тех карта 2021-2022 ж</a></td>
</tr>
{% endblock %}