{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№1 Ботақан кіші тобының  циклограммасы_url' %}">№1 Ботақан кіші тобының  циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№10 балдәурен ересек топ циклограмма_url' %}">№10 балдәурен ересек топ циклограмма</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№11 ертөстік МАД топ Циклограмма_url' %}">№11 ертөстік МАД топ Циклограмма</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№12 Назерке ересек топ циклограммасы_url' %}">№12 Назерке ересек топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№13 ақбота ортаңғы топ Циклограмма. 2022-2023 о.ж_url' %}">№13 ақбота ортаңғы топ Циклограмма. 2022-2023 о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№14 ақбөбек МАД топ Циклограмма_url' %}">№14 ақбөбек МАД топ Циклограмма</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№2 Балапан ерте жас циклограммасы_url' %}">№2 Балапан ерте жас циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№3 Ққұлыншақ ортаңғы топ. циклограммасы_url' %}">№3 Ққұлыншақ ортаңғы топ. циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№4 гүлдер ортаңғы топ циклограммасы_url' %}">№4 гүлдер ортаңғы топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№5 еркетай ортаңғы топ циклограммасы_url' %}">№5 еркетай ортаңғы топ циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№6 еркемай ерте жас циклограммасы_url' %}">№6 еркемай ерте жас циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№7 айгөлек кіші топ циклогарамма_url' %}">№7 айгөлек кіші топ циклогарамма</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№8 Балауса ересек топ  циклограмма2022-2023 о.ж_url' %}">№8 Балауса ересек топ  циклограмма2022-2023 о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '№9 жасдәурен ересек топ циклограмма 2023_url' %}">№9 жасдәурен ересек топ циклограмма 2023</a>
    </td>
</tr>{% endblock %}