{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan="3"><a href="{% url '№ 4 Құлыншақ 2022-2023 ж циклограммалары_url' %}">№ 4 Құлыншақ 2022-2023 ж циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№ 5 Балапан тобы 2022-2023 ж циклограмма_url' %}">№ 5 Балапан тобы 2022-2023 ж циклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№ 6 Бүлдіршін тобы 2022-2023 ж Циклограмма_url' %}">№ 6 Бүлдіршін тобы 2022-2023 ж Циклограмма</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№1 Балбөбек тобы 2022-2023 ж циклограммалары_url' %}">№1 Балбөбек тобы 2022-2023 ж циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№10 Балдаурен  2022-2023 ж циклограммалары_url' %}">№10 Балдаурен  2022-2023 ж циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№11 Қызғалдақ тобы циклограммалары_url' %}">№11 Қызғалдақ тобы циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№12 Гүлдер тобы 2022-2023 ж циклограммалары_url' %}">№12 Гүлдер тобы 2022-2023 ж циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№2 Еркелер 2022-2023 ж циклограммалар_url' %}">№2 Еркелер 2022-2023 ж циклограммалар</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№3 Ботақан 2022-2023 ж  циклограммалары_url' %}">№3 Ботақан 2022-2023 ж  циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '№9 Жасұлан 2022-2023 ж циклограмма_url' %}">№9 Жасұлан 2022-2023 ж циклограмма</a></td>
</tr>

{% endblock %}