{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'Инклюзив топтарға перспективалық жоспар_url' %}">Инклюзив топтарға перспективалық жоспар</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'логопед 2022-2023 о.ж_url' %}">логопед 2022-2023 о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'педагог-психолог перспективалық жоспары_url' %}">педагог-психолог перспективалық жоспары</a>
    </td>
</tr>{% endblock %}