{% extends 'docs.html' %}
{% block links %}

<tr>
    <td colspan="3"><a href="{% url '2022-2023 ж дене шынықтыру циклограммалары_url' %}">2022-2023 ж дене шынықтыру циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2022-2023 ж Ән саз маманы циклограммалары_url' %}">2022-2023 ж Ән саз маманы циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2022-2023 о,ж  би маманының циклограммалары_url' %}">2022-2023 о,ж  би маманының циклограммалары</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url 'Дене шынықтыру 2022-2023ж  циклограммалары_url' %}">Дене шынықтыру 2022-2023ж  циклограммалары</a></td>
</tr>

{% endblock %}