{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2022-2023 ересек техкарта музыка_url' %}">2022-2023 ересек техкарта музыка</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2022-2023 мад техкарта музыка_url' %}">2022-2023 мад техкарта музыка</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2022-2023 о ж МАД, ересек  топтары  информатика үйірмесі циклограммасы_url' %}">2022-2023 о ж МАД, ересек  топтары  информатика үйірмесі циклограммасы</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url 'Дене шынықтыру МАД,ересек топтар циклограммасы_url' %}">Дене шынықтыру МАД,ересек топтар циклограммасы</a>
    </td>
</tr>{% endblock %}