{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan="3"><a href="{% url '2022-2023 ж жеке даму картасы_url' %}">2022-2023 ж жеке даму картасы</a></td>
</tr>
<tr>
    <td colspan="3"><a href="{% url '2022-2023 ж Индикаторлар_url' %}">2022-2023 ж Индикаторлар</a></td>
</tr>
<tr>
    <td colspan="3"><a href="{% url '2022-2023 ж перспективалық жоспары_url' %}">2022-2023 ж перспективалық жоспары</a></td>
</tr>
<tr>
    <td colspan="3"><a href="{% url '2022-2023 ж пән жетекшілері перспективалық жоспар_url' %}">2022-2023 ж пән жетекшілері перспективалық жоспар</a></td>
</tr>

<tr>
    <td colspan="3"><a href="{% url '2022-2023 ж пән жетекшісінің циклограммалары_url' %}">2022-2023 ж пән жетекшісінің циклограммалары</a></td>
</tr>
<tr>
    <td colspan="3"><a href="{% url '2022-2023 оқу жылының циклограммалары_url' %}">2022-2023 оқу жылының циклограммалары</a></td>
</tr>


{% endblock %}