{% extends 'base.html' %}

{% block content%}
    <center>
        <h2>Сіздің сұранысыңыз бойынша нәтижелер: {{ searched }}</h2>
        <br>
        <table>
           <tbody>
             <tr class="table-head">
               <th>Блок</th>
               <th>Құжатың атауы</th>
               <th>Жылы</th>
               <th>Жүктеу</th>
             </tr>
             {% for file in searched_files %}
             <tr>
               <td>{{ file.block }}</td>
               <td><a href="{{ file.file.url }}" target="_blank">{{ file.name }}</a></td>

               <td>{{ file.year }}</td>
               <td>
                <a href="{{ file.file.url }}" download> <button><i class="fa-solid fa-download"></i></button></a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'delete_file' file.id %}"><button class="delete_file"><i class="fa-solid fa-trash"></i></button></a>
                <a href="{% url 'update_file' file.id %}"><button class="update_file"><i class="fa-solid fa-pencil"></i></button></a>
                {% endif %}
               </td>
             </tr>
             {% endfor %}
             
           </tbody>
         </table>
    </center>
{% endblock %}