{% extends 'base.html' %} {% block content %}
<div class="quiz-container">
  <div class="question">
    <p>1. Сіздің балаңыз балабақшаға қуана барады.</p>
    <div class="options">
      <div class="option">
        <h4 class="option-label">Толықтай келісемін</h4>
        <p>57%</p>
        <div class="progress-bar">
          <div style="width: 57%; height: 100%">
            <div class="progress-fill"></div>
          </div>
        </div>
      </div>
      <div class="option">
        <h4 class="option-label">Келісемін</h4>
        <p>41%</p>
        <div class="progress-bar">
          <div style="width: 41%; height: 100%">
            <div class="progress-fill"></div>
          </div>
        </div>
      </div>
      <div class="option">
        <h4 class="option-label">Келіспеймін</h4>
        <p>0%</p>
        <div class="progress-bar">
          <div style="width: 0%; height: 100%">
            <div class="progress-fill"></div>
          </div>
        </div>
      </div>
      <div class="option">
        <h4 class="option-label">Толықтай келіспеймін</h4>
        <p>2%</p>
        <div class="progress-bar">
          <div style="width: 2%; height: 100%">
            <div class="progress-fill"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
{% endblock %}
