{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '1. Бастапқы монитоинг 2021-2022 о.ж_url' %}">1. Бастапқы монитоинг 2021-2022 о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2. Аралык мониторинг  2021-2022 о.ж_url' %}">2. Аралык мониторинг  2021-2022 о.ж</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '3. Қортынды мониторин  2021-2022 о.ж_url' %}">3. Қортынды мониторин  2021-2022 о.ж</a>
    </td>
</tr>{% endblock %}