{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '1. 2022-2023 о.ж. Бастапқы мониторинг Қыркүйек_url' %}">1. 2022-2023 о.ж. Бастапқы мониторинг Қыркүйек</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '2. 2022-2023 о.ж  Аралық монитор. Қаңтар_url' %}">2. 2022-2023 о.ж  Аралық монитор. Қаңтар</a>
    </td>
</tr><tr>
    <td colspan='3'><i class="fas fa-folder"></i>
        <a href="{% url '3. 2022-2023 о.ж. Қортынды монитор. Мамыр_url' %}">3. 2022-2023 о.ж. Қортынды монитор. Мамыр</a>
    </td>
</tr>{% endblock %}