{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url 'дене шынықтыру 2021-2022 ж тех карта_url' %}">дене шынықтыру 2021-2022 ж тех карта</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url 'Дене шынықтыру ортаңғы топ 2021-22ж_url' %}">Дене шынықтыру ортаңғы топ 2021-22ж</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url 'Ән тех карта ересек МАД топтар 2021-2022ж_url' %}">Ән тех карта ересек МАД топтар 2021-2022ж</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url 'Ән тех карта кіші,ортаңғы топ 2021-2022ж_url' %}">Ән тех карта кіші,ортаңғы топ 2021-2022ж</a></td>
</tr>
{% endblock %}