{% extends 'docs.html' %}
{% block links %}

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№1 Балбөбек циклограмма 2020-21ж_url' %}">№1 Балбөбек циклограмма 2020-21ж</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№2 Еркелер  циклограмма  2020-21 ж_url' %}">№2 Еркелер  циклограмма  2020-21 ж</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url '№3 Ботақан топ циклограмма 2020-2021ж_url' %}">№3 Ботақан топ циклограмма 2020-2021ж</a></td>
</tr>

{% endblock %}