{% extends 'docs.html' %}
{% block links %}
<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url 'Әдіскер мониторинг 2020-2021ж_url' %}">Әдіскер мониторинг 2020-2021ж</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url 'Әдіскер мониторинг 2021-22ж_url' %}">Әдіскер мониторинг 2021-22ж</a></td>
</tr>

<tr>
    <td colspan="3"><i class="fas fa-folder"></i>  <a href="{% url 'Әдіскер мониторинг 2022-23ж_url' %}">Әдіскер мониторинг 2022-23ж</a></td>
</tr>


{% endblock %}